<div class="row">
  <div class="col-sm-12">
  <md-content layout-padding>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Your secret EasyCrash code</label>
            <input ng-model="data.secret_code">
          </md-input-container>
        </div>
  </md-content>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button class = "btn btn-primary btn-md pull-right" type="button" name="button" ng-click = "add_unit();"><span class="fa fa-plus"></span>Add Unit</button>
  </div>
</div>
