<div class="row">
  <div class="col-sm-12" >
    <rd-widget>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr ng-if = "data.my_requests.length == 0">
            <th>My requests</th>
          </tr>
          <tr ng-if = "data.my_requests.length != 0">
            <th>Project</th>
            <th>Sender name</th>
            <th>Date sent</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if = "data.my_requests.length == 0">
            <td colspan = "2">No requests found</td>
          </tr>
          <tr ng-repeat = "request in data.my_requests | orderBy: 'date_sent' : -1" ng-if = "data.my_requests.length != 0">
            <td>{{ getProjectName(request.project_id) }}</td>
            <td>{{ getSenderName(request.sender_id) }}</td>
            <td>{{ unixToString(request.date_sent)[0] }}, {{ unixToString(request.date_sent)[1] }}</td>
            <td>
              <div ng-if = "request.approved">
                approved
              </div>
              <div ng-if = "!request.approved">
                not approved
              </div>
            </td>
            <td>
              <button ng-if = "!request.approved" class = "btn btn-primary btn-sm pull-right" type="button" name="button" style = "margin-left:5px!Important;"  ng-click = "approveRequest(request._id);"><span class="fa fa-reply"></span>Approve</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </rd-widget>
    <rd-widget-footer>
      <ul class="pagination pagination-sm pull-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#" ng-repeat = "number_tab in number_tabs">{{number_tab.number}}</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
      <div class="clearfix"></div>
    </rd-widget-footer>
  </div>
</div>
