<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="row">
        <div class="col-sm-12" style = "text-align:center;">
          <h2>Log In</h2>
        </div>
      </div>
        <md-content layout-padding>
          <div>
            <div class="row" ng-if = "data.new_email">
              <div class="col-sm-12" style = "text-align:center;">
                Your account has not been activated. If you have lost your email from us you can click <a href="#/forgotten" style = "color:#0281DE;">here</a> to get a new one.
              </div>
            </div>
            <form name="userForm">
              <md-input-container class="md-block">
                <label>Email</label>
                <input ng-model="data.email" type = "text">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="data.password" type = "password">
              </md-input-container>
              <div class="row">
                <div class="col-sm-12" style = "text-align:center;">
                  <b>Forgotten your password? <a href="#/forgotten" style = "color:#0281DE;">Click here</a> to recover it.</b>
                </div>
              </div>
              <md-button class="md-raised md-primary" style = "width:93%;" ng-click = "login();"> Log In </md-button>
            </form>
          </div>
        </md-content>
    </div>
    </div>
  </div>
</div>
