<!--
<p>crash data</p>
<div class="row">
  <div class="col-sm-12">
    <button ng-click="restartAnimation()" type="button" class="btn btn-primary">Restart animation</button>
    <br>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
      <ui-gmap-markers models="map.markers" coords="'self'"></ui-gmap-markers>
      <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
           geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
      </ui-gmap-polyline>
    </ui-gmap-google-map>
    <br>
    <div>
    <div>
      <form class="form">
        <md-input-container class="md-block">
              <label>Note</label>
              <textarea style="height:100%;" ng-model="noteData.txt" md-maxlength="150" rows="4" md-select-on-focus placeholder="Becouse of a bird I could't see anything"></textarea>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-click = "updateNote(noteData);">Add note</md-button>
      </form>
    </div>
    <br>
    <ul>
      <h4>Notes</h4>
      <li ng-repeat="note in notes_for">
        <blockquote>
          <strong>{{getTimeMongo(note._id)}}</strong><br>
          {{note.txt}}
          <cite class="clearfix">—{{getPerson(note.user_id)}}</cite>
            <md-fab-toolbar count="demo.count"
                        md-direction="{{demo.selectedDirection}}">
          <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
              <md-icon md-menu-origin="" md-font-set="material-icons"> more_horiz </md-icon>
            </md-button>
          </md-fab-trigger>
          <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
              <md-button aria-label="comment" class="md-icon-button" ng-click="showConfirm($event, note)">
                <md-icon md-font-set="material-icons"> delete_forever </md-icon>
              </md-button>
              <md-button aria-label="label" class="md-icon-button" ng-click="changeNote($event, note)">
                <md-icon md-font-set="material-icons"> edit </md-icon>
              </md-button>
            </md-fab-actions>
          </md-toolbar>
  </md-fab-toolbar>


<div class="dropdown">
    <a data-target="#" href="page.html" data-toggle="dropdown" class="dropdown-toggle"><md-icon md-menu-origin="" md-font-set="material-icons"> more_horiz </md-icon> </a>
    <ul class="dropdown-menu">
        <li><md-button ng-click="showConfirm($event, note)">
          <md-icon md-font-set="material-icons"> delete_forever </md-icon>
          Delete forever
        </md-button></li>
        <li><md-button ng-click="changeNote($event, note)">
          <md-icon md-font-set="material-icons"> edit </md-icon>
          Edit
        </md-button></li>
    </ul>
</div>
           <md-menu>
            <md-button aria-label="Open note actions" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
              <md-icon md-menu-origin="" md-font-set="material-icons"> more_horiz </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="showConfirm($event, note)">
                  <md-icon md-font-set="material-icons"> delete_forever </md-icon>
                  Delete forever
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="changeNote($event, note)">
                  <md-icon md-font-set="material-icons"> edit </md-icon>
                  Edit
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

        </blockquote>
      </li>
    </ul>
  </div>
  </div>
</div>

-->
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="MAP">
        <md-content class="md-padding">
          <div class="row">
            <div class="col-sm-12">
              <ui-gmap-google-map center="map.center" zoom="17" draggable="true" events="map.events">
                <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'">
                  </ui-gmap-markers>
            <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                     geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
            </ui-gmap-google-map>
            <br>
            <div layout="row" layout-align="center center">
              <md-button ng-click="restartAnimation()" type="button" class="md-raised md-primary">Restart animation</md-button>
              <!--<button ng-click="toggleCenter()" type="button" class="btn btn-primary">Toggle follow car</button>-->
              <md-switch class="md-primary" ng-model="toggle.cb1" ng-click="toggleCenter()" aria-label="Switch 1">
                Center map
              </md-switch>
            </div>
          </div><!--class="col-sm-12" -->
        </div><!--class="row" -->
        </md-content>
      </md-tab>
      <md-tab label="SPEED">
        <md-content class="md-padding">
          <div>
            <div>
                <nvd3 options="options" data="data"></nvd3>
            </div>
        </div>
        </md-content>
      </md-tab>
      <md-tab label="NOTE">
        <md-content class="md-padding">
          <div>
            <div>
              <div>
              <div>
              <form class="form">
                <md-input-container class="md-block">
                      <label>Note</label>
                      <textarea style="height:100%;" ng-model="noteData.txt" md-maxlength="150" rows="4" md-select-on-focus placeholder="Becouse of a bird I could't see anything"></textarea>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary" ng-click = "updateNote(noteData);">Add note</md-button>
              </form>
              </div>
              <br>
              <ul>
              <h4>Notes</h4>
              <li ng-repeat="note in notes_for">
                <blockquote>
                  <strong>{{getTimeMongo(note._id)}}</strong><br>
                  {{note.txt}}
                  <cite class="clearfix">—{{getPerson(note.user_id)}}</cite> <!-- —{{note.user_id}}</cite>-->
              <!--          <md-fab-toolbar count="demo.count"
                                md-direction="{{demo.selectedDirection}}">
                  <md-fab-trigger class="align-with-text">
                    <md-button aria-label="menu" class="md-fab md-primary">
                      <md-icon md-menu-origin="" md-font-set="material-icons"> more_horiz </md-icon>
                    </md-button>
                  </md-fab-trigger>
                  <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                      <md-button aria-label="comment" class="md-icon-button" ng-click="showConfirm($event, note)">
                        <md-icon md-font-set="material-icons"> delete_forever </md-icon>
                      </md-button>
                      <md-button aria-label="label" class="md-icon-button" ng-click="changeNote($event, note)">
                        <md-icon md-font-set="material-icons"> edit </md-icon>
                      </md-button>
                    </md-fab-actions>
                  </md-toolbar>
              </md-fab-toolbar>
              -->

              <div class="dropdown">
              <a data-target="#" href="page.html" data-toggle="dropdown" class="dropdown-toggle"><md-icon md-menu-origin="" md-font-set="material-icons"> more_horiz </md-icon> </a>
              <ul class="dropdown-menu">
                <li><md-button ng-click="showConfirm($event, note)">
                  <md-icon md-font-set="material-icons"> delete_forever </md-icon>
                  Delete forever
                </md-button></li>
                <li><md-button ng-click="changeNote($event, note)">
                  <md-icon md-font-set="material-icons"> edit </md-icon>
                  Edit
                </md-button></li>
              </ul>
              </div>
                  <!-- <md-menu>
                    <md-button aria-label="Open note actions" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                      <md-icon md-menu-origin="" md-font-set="material-icons"> more_horiz </md-icon>
                    </md-button>
                    <md-menu-content width="4">
                      <md-menu-item>
                        <md-button ng-click="showConfirm($event, note)">
                          <md-icon md-font-set="material-icons"> delete_forever </md-icon>
                          Delete forever
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="changeNote($event, note)">
                          <md-icon md-font-set="material-icons"> edit </md-icon>
                          Edit
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
              -->
                </blockquote>
              </li>
              </ul>
              </div>
            </div>
        </div>
        </md-content>
      </md-tab>
      <md-tab label="WEATHER">
        <md-content class="md-padding">
          <div>
            <div>
              <p>{{weather.icon}}</p>
              <p>{{weather.temperature}}</p>
              <p>{{weather.rain}}</p>
              <p>{{weather.from}}</p>
            </div>
        </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>

</div>
