<!DOCTYPE html>
<html style = "width:100%; height:100%;">
  <head>
    <meta charset="utf-8">
    <title>Single Rapport</title>
  </head>
  <body style = "width:100%; height:100%;left:0px;">
    <div class="" style = "width:100%;margin-bottom:50px;left:0px;">
      <img src="consto_logo.jpg" alt="" style = "width:30%;margin-top:20px;margin-left:33%;"/>
    </div>
    <div style = "width:100%;height:50px;background-color:#DA1937;left:0px;">

    </div>
    <div style="width:100%;">
      <table style="width:100%;">
        <tr style = "width:100%;">
          <td style = "padding-right:40%;">
            Dato sendt
          </td>
          <td style = "">
            02 33 asdasd ad adsa asd as ad asd
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
